.task-card {
    background-color: gray;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
  }
  
  .task-actions button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    font-size: 14px;
    color: #555;
  }
  
  .task-actions button:hover {
    color: #007bff;
  }
  
  .task-actions .danger:hover {
    color: #dc3545;
  }
  